{%  extends 'master.html' %}

    {% block content %}
        <div class="col-md-10 col-md-offset-1">
            {% for template in templates %}
                <div class="col-sm-4">
                    <h1>{{ template.name }}</h1>
                    <p>{{ template.description }}</p>
                    <div class="row">
                        <div class="col-sm-4 pull-right"><a href="/templates/view/{{template.id }}">show more</a></div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% endblock %}

    {% block js %}

    {% endblock %}